<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
	
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="conversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %5p %l: %L - %m%n"/>
		</layout>
	</appender>
	
	<!-- <appender name="stdout" class="org.apache.log4j.RollingFileAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="conversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %5p %l: %L - %m%n"/>
		</layout>
		<param name="file" value="/app/trs/log/stdout.log"/>
		<param name="maxFileSize" value="20MB"/>
		<param name="maxBackupIndex" value="3"/>
	</appender> -->
	
	<logger name="com.xjd.util" additivity="true">
		<level value="INFO" />
	</logger>

	<root>
		<level value="INFO"/>
		<appender-ref ref="console"/>
	</root>
	
</log4j:configuration>